body{
    background-image: url(dca2344b-717e-4e45-8a76-f1a6969f7570.jfif);
}

#Login{
    height: 500px;
    width: 300px;
    background-image: url(ba.jpg);
    margin: auto;
    margin-top: 20px;
    text-align: center;
}